.navbar{
  width: 100%;
  background-color: black;
  padding: 15px 0px;
  text-align: center;
}

.menu{
  color: white;
  margin: 8px;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  left: 100px;
  margin-right: 150px;
}