.navbar{
  position: fixed;
  width: 100%;
  background-color: black;
  padding: 0px 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.menu{
  color: white;
  margin:0;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  left: 100px;
  margin-right: 150px;
}