.other-container{
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-title{
  color: white;
  padding-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.limg{
  display: block;
  max-width: 40%;
  height: auto;
  margin: 0 auto;
}