.team-container {
  background-color: #000;
  padding: 50px;
  color: white;
  text-align: center;
  height: 100vw;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  row-gap: 6px;
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid #333;
}

.team-item {
  position: relative;
  aspect-ratio: 1 / 1; 
  overflow: hidden;
  background-color: #1a1a1a;
  cursor: pointer;
}

.team-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.team-item:hover .overlay {
  opacity: 1; 
}

.team-item:hover .team-logo {
  transform: scale(1.1); 
}

.team-name {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.title {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left:268px;
  margin-top: 120px;
  border-bottom: solid 2px;
  width: 59.85%;
}