body{
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: NanumSquare, "Noto Sans KR", sans-serif;
}

body {
  font-size: 16px;
}

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 321px) and (max-width: 425px) {
  body {
    font-size: 13px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 15px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1441px) and (max-width: 2559px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 2560px) {
  body {
    font-size: 20px;
  }
}